<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include templates/header.ejs%>


  <h3><%= videodata.categoryName %></h3>

 <ul>
   <% videodata.categories.forEach(function (item) { %>
    <li><a href ="<%= item.categoryID %>"><%= item.categoryName %></a></li>
     
   <%}); %>

 </ul>


  </body>
</html>
